## **SETUP**

In [1]:
# = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
# SOME COMMON OPTIONS AND LIBRARIES THAT I USE  = = = = = = = = = = = = = 
# = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

import urllib.request
# pandas para manipulação de dataframes
import pandas as pd

# = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 

# upload de arquivos 
from google.colab import files

# = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
# Configurando o número máximo de linhas a se mostrar
pd.set_option('display.max_row', 5000)

# Configurando o número máximo de colunas a se mostrar
pd.set_option('display.max_columns', 50)

# Aumentando o número de caracteres a serem exibidos numa coluna de texto
pd.options.display.max_colwidth = 500

# Desligando a notificação setcopywarning
pd.set_option('mode.chained_assignment', None)

!pip install -U -q PyDrive
import os
import datetime as DT
import io
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from google.colab import drive
from oauth2client.client import GoogleCredentials
import googleapiclient.discovery
import numpy as np 
import requests
import json
import time
from pandas.io.json import json_normalize
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen 
from bs4 import BeautifulSoup 
import re

from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

# **RETRIEVE ALL LINKS FOR ATHLETICS IN SUMMER OLYMPICS PAGE**

In [2]:
###########################################################################################################
###
######### 1ª PARTE: PEGANDO TODOS OS LINKS DOS JOGOS OLÍMPICOS
###
###########################################################################################################

# RETRIEVE ALL LINKS FOR "ATHLETICS IN SUMMER OLYMPICS" ON WIKIPEDIA

res = requests.get("https://en.wikipedia.org/wiki/Athletics_at_the_Summer_Olympics")
soup = bs(res.text, "html.parser")
links = soup.select('a')
type(links)

athletic_links = []
for link in links:
    url = link.get("href", "")
    if "/wiki/Athletics" in url:

        d = {'url': url}         
        ooo = pd.DataFrame(d, index=[0])

        athletic_links.append(ooo) 

df_athletics = pd.concat(athletic_links).reset_index()
df_athletics

# NOW IT'S TIME TO FILTER AND RETAIN ONLY THOSE LINKS REGARDING OLYMPIC EDITIONS

df_athletics['link']     = df_athletics['url'].str.extract(r'(/wiki/Athletics_at_the_\d\d\d\d_Summer_Olympics_)*')
df_athletics2 = df_athletics.dropna(subset=['link']).reset_index()
df_athletics2 = df_athletics2[['url']]
df_athletics2.head(20)

# SOME REGEX CLEANNING

import re
df_athletics2['year']=df_athletics2['url'].str.extract(r'(\d{4})')
df_athletics2['year'] = df_athletics2['year'].astype(int)
df_athletics2.sort_values(['year'], ascending=[True], inplace=True)
df_athletics2 = df_athletics2.drop_duplicates()
#df_athletics2['type'] = df_athletics2['url'].str.extract(r'(?<=27s_).*')
df_athletics2['event'] = df_athletics2['url'].str.extract(r'(27s_[0-9A-za-z%,]+|Mixed_[0-9A-za-z%,]+).*')
df_athletics2['event'] = df_athletics2['event'].str.replace("27s_","")
df_athletics2['event'] = df_athletics2['event'].str.replace("%C3%97","x")
df_athletics2['event'] = df_athletics2['event'].str.replace("_"," ")
df_athletics2['men_women'] = df_athletics2['url'].str.extract(r'(Women|Men)') 

# LINKS FOR EVERY EVENT FROM 1896 TO 2021, MAN AND WOMAN
df_athletics2.head(5)

,url,year,event,men_women
0,/wiki/Athletics_at_the_1896_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1896,100 metres,Men
115,/wiki/Athletics_at_the_1896_Summer_Olympics_%E2%80%93_Men%27s_1500_metres,1896,1500 metres,Men
515,/wiki/Athletics_at_the_1896_Summer_Olympics_%E2%80%93_Men%27s_discus_throw,1896,discus throw,Men
86,/wiki/Athletics_at_the_1896_Summer_Olympics_%E2%80%93_Men%27s_800_metres,1896,800 metres,Men
486,/wiki/Athletics_at_the_1896_Summer_Olympics_%E2%80%93_Men%27s_shot_put,1896,shot put,Men

A LOOK AT THE 100M

In [3]:
df_athletics3 = df_athletics2.query('event == "100 metres"')
df_athletics3

,url,year,event,men_women
0,/wiki/Athletics_at_the_1896_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1896,100 metres,Men
1,/wiki/Athletics_at_the_1900_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1900,100 metres,Men
2,/wiki/Athletics_at_the_1904_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1904,100 metres,Men
3,/wiki/Athletics_at_the_1908_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1908,100 metres,Men
4,/wiki/Athletics_at_the_1912_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1912,100 metres,Men
5,/wiki/Athletics_at_the_1920_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1920,100 metres,Men
6,/wiki/Athletics_at_the_1924_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1924,100 metres,Men
695,/wiki/Athletics_at_the_1928_Summer_Olympics_%E2%80%93_Women%27s_100_metres,1928,100 metres,Women
7,/wiki/Athletics_at_the_1928_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1928,100 metres,Men
696,/wiki/Athletics_at_the_1932_Summer_Olympics_%E2%80%93_Women%27s_100_metres,1932,100 metres,Women
8,/wiki/Athletics_at_the_1932_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1932,100 metres,Men
9,/wiki/Athletics_at_the_1936_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1936,100 metres,Men
697,/wiki/Athletics_at_the_1936_Summer_Olympics_%E2%80%93_Women%27s_100_metres,1936,100 metres,Women
698,/wiki/Athletics_at_the_1948_Summer_Olympics_%E2%80%93_Women%27s_100_metres,1948,100 metres,Women
10,/wiki/Athletics_at_the_1948_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1948,100 metres,Men
699,/wiki/Athletics_at_the_1952_Summer_Olympics_%E2%80%93_Women%27s_100_metres,1952,100 metres,Women
11,/wiki/Athletics_at_the_1952_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1952,100 metres,Men
700,/wiki/Athletics_at_the_1956_Summer_Olympics_%E2%80%93_Women%27s_100_metres,1956,100 metres,Women
12,/wiki/Athletics_at_the_1956_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1956,100 metres,Men
701,/wiki/Athletics_at_the_1960_Summer_Olympics_%E2%80%93_Women%27s_100_metres,1960,100 metres,Women
13,/wiki/Athletics_at_the_1960_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1960,100 metres,Men
14,/wiki/Athletics_at_the_1964_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1964,100 metres,Men
702,/wiki/Athletics_at_the_1964_Summer_Olympics_%E2%80%93_Women%27s_100_metres,1964,100 metres,Women
15,/wiki/Athletics_at_the_1968_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1968,100 metres,Men
703,/wiki/Athletics_at_the_1968_Summer_Olympics_%E2%80%93_Women%27s_100_metres,1968,100 metres,Women
704,/wiki/Athletics_at_the_1972_Summer_Olympics_%E2%80%93_Women%27s_100_metres,1972,100 metres,Women
16,/wiki/Athletics_at_the_1972_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1972,100 metres,Men
705,/wiki/Athletics_at_the_1976_Summer_Olympics_%E2%80%93_Women%27s_100_metres,1976,100 metres,Women
17,/wiki/Athletics_at_the_1976_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1976,100 metres,Men
706,/wiki/Athletics_at_the_1980_Summer_Olympics_%E2%80%93_Women%27s_100_metres,1980,100 metres,Women
18,/wiki/Athletics_at_the_1980_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1980,100 metres,Men
19,/wiki/Athletics_at_the_1984_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1984,100 metres,Men
707,/wiki/Athletics_at_the_1984_Summer_Olympics_%E2%80%93_Women%27s_100_metres,1984,100 metres,Women
20,/wiki/Athletics_at_the_1988_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1988,100 metres,Men
708,/wiki/Athletics_at_the_1988_Summer_Olympics_%E2%80%93_Women%27s_100_metres,1988,100 metres,Women
709,/wiki/Athletics_at_the_1992_Summer_Olympics_%E2%80%93_Women%27s_100_metres,1992,100 metres,Women
21,/wiki/Athletics_at_the_1992_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1992,100 metres,Men
22,/wiki/Athletics_at_the_1996_Summer_Olympics_%E2%80%93_Men%27s_100_metres,1996,100 metres,Men
710,/wiki/Athletics_at_the_1996_Summer_Olympics_%E2%80%93_Women%27s_100_metres,1996,100 metres,Women
23,/wiki/Athletics_at_the_2000_Summer_Olympics_%E2%80%93_Men%27s_100_metres,2000,100 metres,Men
711,/wiki/Athletics_at_the_2000_Summer_Olympics_%E2%80%93_Women%27s_100_metres,2000,100 metres,Women
712,/wiki/Athletics_at_the_2004_Summer_Olympics_%E2%80%93_Women%27s_100_metres,2004,100 metres,Women
24,/wiki/Athletics_at_the_2004_Summer_Olympics_%E2%80%93_Men%27s_100_metres,2004,100 metres,Men
25,/wiki/Athletics_at_the_2008_Summer_Olympics_%E2%80%93_Men%27s_100_metres,2008,100 metres,Men
713,/wiki/Athletics_at_the_2008_Summer_Olympics_%E2%80%93_Women%27s_100_metres,2008,100 metres,Women
714,/wiki/Athletics_at_the_2012_Summer_Olympics_%E2%80%93_Women%27s_100_metres,2012,100 metres,Women
26,/wiki/Athletics_at_the_2012_Summer_Olympics_%E2%80%93_Men%27s_100_metres,2012,100 metres,Men
715,/wiki/Athletics_at_the_2016_Summer_Olympics_%E2%80%93_Women%27s_100_metres,2016,100 metres,Women
27,/wiki/Athletics_at_the_2016_Summer_Olympics_%E2%80%93_Men%27s_100_metres,2016,100 metres,Men
28,/wiki/Athletics_at_the_2020_Summer_Olympics_%E2%80%93_Men%27s_100_metres,2020,100 metres,Men
716,/wiki/Athletics_at_the_2020_Summer_Olympics_%E2%80%93_Women%27s_100_metres,2020,100 metres,Women

# **BEAUTIFUL SOUP**

In [5]:
import time
#year <= 1904 &   & men_women == "Men"    & men_women == "Women" year == 1956 & 
#olympic_games = df_athletics2.query('year == 2020 & men_women=="Women" & event == "100 metres"')
olympic_games = df_athletics2.query('event == "100 metres"')
olympic_games

sleep_min = 1
sleep_max = 3
start_time = time.time()


table_bodies  = []
heats_column0 = []
all_tables0 = []
headers = []
table_titles = []
for olympics in olympic_games.itertuples():
    

    
    url0 = getattr(olympics, 'url') 
    url  = 'https://en.wikipedia.org/'+url0
    #print(url)
    
    year = getattr(olympics, 'year')
    print(year)
    men_women = getattr(olympics, 'men_women')    
    event = getattr(olympics, 'event')

    page = urllib.request.urlopen(url)
    soup = BeautifulSoup(page, "html.parser")

    time.sleep(np.random.uniform(sleep_min, sleep_max))

    # ==================================================================================
    # 1 - PEGA TUDO QUE ESTÁ ENTRE O RESULTS E A TABELA FINAL. "É O QUE QUERO DA PÁGINA"
    # ==================================================================================

    heats = soup.find_all('span', {'class': 'mw-headline'})
    for i in heats:
      t = i.find_previous()
      h = t.find('span', {'class': 'mw-headline'}).text
      d = {'table_name': h, 'year': year, 'men_women': men_women}         
      ooo = pd.DataFrame(d, index=[0])
  
      table_titles.append(ooo)
      
    table_titles_final = pd.concat(table_titles).reset_index().drop(['index'], axis=1).reset_index()
    table_titles_final.rename(columns={"index": "id"}, inplace=True)
     
    table_titles_final['min_val'] = np.where( ((table_titles_final['table_name'] == "Results") | (table_titles_final['table_name'] == "Heats")), 1, np.nan)
    table_titles_final['max_val'] = np.where( ((table_titles_final['table_name'] == "Final")), 2,np.nan)
    table_titles_final['val'] = table_titles_final['min_val'].combine_first(table_titles_final['max_val']).fillna(0)#.astype(np.int64)
    table_titles_final = table_titles_final.drop(['min_val','max_val'], axis=1)
    table_titles_final

    # se conheço tabelas que atrapalham meu scrap e são desdobramentos das tabelas originais, posso apagá-las para não serem consideradas no meu código.
    #Por exemplo, Overall results nas olimpíadas de 2000; 100m F
    #também aproveito para limpar o nome das tabelas que contiverem ponto
    #table_titles_final2 = table_titles_final2[ table_titles_final2['table_name'].str.find("Overall") == -1 ]
    #table_titles_final2['table_name'] = table_titles_final2['table_name'].str.replace(".","")
    #table_titles_final2

    # ==================================================================================
    # 2 - PEGA TODOS OS HEADERS DE TODAS AS TABELAS QUE POSSUEM O MW-HEADLINE
    # ==================================================================================
             #class_ = "wikitable sortable" 
    table_data = soup.find_all('table', {"class":["wikitable sortable", "wikitable"]})
    #print(len(table_data))



    # para cada tabela do meu table data, quero o th, ou seja, cabeçalho
    for i in table_data:
        th = i.find_all('th')

        # e aí pego o texto do span anterior com a classe mw-headline
        table_name = i.find_previous('span', {'class': 'mw-headline'}).text
        #print(table_name)
        count = 0
        # Neste caso, como estou querendo empilhar cada cabeçalho de coluna em 
        # linhas separadas, faço um segundo loop para percorrer todas essas colunas, 
        # e aí monto o dataframe com o nome de cada tabela associada ao cabeçalho de 
        # coluna

        for j in th:
            if len(j.text.strip()) <= 1:              
              th2 = "apagar"
              #print("vazio", len(j), j)
            else:
              th2 = j.text.strip()
              count = count+1
              #print(len(j), j)
            d = {'table_name': table_name, 'column_order_id': count, 'column_name': th2, 'year': year, 'men_women': men_women}         
            ooo = pd.DataFrame(d, index=[0])
            headers.append(ooo)

headers_final = pd.concat(headers).reset_index().drop(['index'], axis=1).reset_index()

#assim como aqui na headers_final não queremos considerar esses headers
headers_final = headers_final[ headers_final['table_name'].str.find("Overall") == -1 ]

#também aproveito para limpar o nome das tabelas que contiverem ponto
headers_final['table_name'] = headers_final['table_name'].str.replace(".","")
headers_final['column_name'] = headers_final['column_name'].str.replace(".","")
headers_final['column_name'] = headers_final['column_name'].str.replace("Country","Nation")
headers_final
    # ==============================================================================

#year_genre = table_titles_final.query('men_women == "Women"')
table_titles_final['concat_for'] = table_titles_final['year'].astype(str) + table_titles_final['men_women']
table_titles_final

year_genre_loop = table_titles_final['concat_for'].unique().T
year_genre_loop = pd.DataFrame(year_genre_loop)
year_genre_loop.rename(columns={0: "year_genre"}, inplace=True)
year_genre_loop

right_tables = []

for ygenre in year_genre_loop.itertuples():
    
    filter = getattr(ygenre, 'year_genre')

    table_titles_final2 = table_titles_final.query('concat_for == @filter ')
    print(table_titles_final2)

    year = getattr(table_titles_final2, 'year')
    men_women = getattr(table_titles_final2, 'men_women')    
    val = getattr(table_titles_final2, 'val')    
    id = getattr(table_titles_final2, 'id')
    table_name = getattr(table_titles_final2, 'table_name')    

    if len(table_titles_final2.query('table_name=="Results"')) > 0:
      start = "Results"
    else:
      start = "Heats"

    df_min = table_titles_final2.query('table_name==@start')
    min_value = df_min['id'].values[0]
    min_value

    df_max = table_titles_final2.query('table_name=="Final"')
    max_value = df_max['id'].values[0]
    max_value

    table_titles_final3 = table_titles_final2.query('id >= @min_value & id<= @max_value ')
    right_tables.append(table_titles_final3)

tables_to_extract = pd.concat(right_tables)
tables_to_extract

table_scope0 = pd.merge(tables_to_extract, headers_final, left_on=['table_name', 'year', 'men_women'], right_on=['table_name', 'year', 'men_women'], how='inner').drop(['id', 'index'], axis=1)
table_scope = table_scope0[table_scope0.column_name != "apagar"]
table_scope.sort_index()
table_scope

table_scope = table_scope.drop(['val','concat_for'], axis=1)

#table_scope1 = table_scope[['table_name',	'year',	'men_women']]	
table_scope1 = table_scope[['year']].drop_duplicates()

table_append=[]

for row in table_scope1.itertuples():
    #print(row)
    year = getattr(row, 'year')

    filtered = table_scope1.query('year == @year')

    for row2 in filtered.itertuples():
      filtered_year = table_scope[['table_name','year','men_women']].query('year == @year')
      unique_combination = filtered_year.drop_duplicates()
      
      filtered_genre = unique_combination[['men_women']].drop_duplicates()

      for row3 in filtered_genre.itertuples():

        men_women = getattr(row3, 'men_women')

        genre = unique_combination.query('men_women == @men_women')

        #print(unique_combination)
        genre['id'] = 1
        genre['idx'] = genre.id.cumsum()
        table_append.append(genre)

append_final = pd.concat(table_append)
append_final

'''
table_scope.to_csv('/content/drive/My Drive/headers_final.csv')
table_titles_final2.to_csv('/content/drive/My Drive/table_titles.csv')
'''

1896
1900
1904
1908
1912
1920
1924
1928
1928
1932
1932
1936
1936
1948
1948
1952
1952
1956
1956
1960
1960
1964
1964
1968
1968
1972
1972
1976
1976
1980
1980
1984
1984
1988
1988
1992
1992
1996
1996
2000
2000
2004
2004
2008
2008
2012
2012
2016
2016
2020
2020

<ipython-input-5-fc7dab393d32>:104: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  headers_final['table_name'] = headers_final['table_name'].str.replace(".","")
<ipython-input-5-fc7dab393d32>:105: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  headers_final['column_name'] = headers_final['column_name'].str.replace(".","")

    id          table_name  year men_women  val concat_for
0    0          Background  1896       Men  0.0    1896Men
1    1  Competition format  1896       Men  0.0    1896Men
2    2             Records  1896       Men  0.0    1896Men
3    3            Schedule  1896       Men  0.0    1896Men
4    4             Results  1896       Men  1.0    1896Men
5    5               Heats  1896       Men  1.0    1896Men
6    6              Heat 1  1896       Men  0.0    1896Men
7    7              Heat 2  1896       Men  0.0    1896Men
8    8              Heat 3  1896       Men  0.0    1896Men
9    9               Final  1896       Men  2.0    1896Men
10  10     Results summary  1896       Men  0.0    1896Men
11  11          References  1896       Men  0.0    1896Men
    id          table_name  year men_women  val concat_for
12  12          Background  1900       Men  0.0    1900Men
13  13             Records  1900       Men  0.0    1900Men
14  14  Competition format  1900       Men  0.0    1900Men
15  15            Schedule  1900       Men  0.0    1900Men
16  16             Results  1900       Men  1.0    1900Men
17  17         First round  1900       Men  0.0    1900Men
18  18              Heat 1  1900       Men  0.0    1900Men
19  19              Heat 2  1900       Men  0.0    1900Men
20  20              Heat 3  1900       Men  0.0    1900Men
21  21              Heat 4  1900       Men  0.0    1900Men
22  22              Heat 5  1900       Men  0.0    1900Men
23  23              Heat 6  1900       Men  0.0    1900Men
24  24          Semifinals  1900       Men  0.0    1900Men
25  25         Semifinal 1  1900       Men  0.0    1900Men
26  26         Semifinal 2  1900       Men  0.0    1900Men
27  27         Semifinal 3  1900       Men  0.0    1900Men
28  28           Repechage  1900       Men  0.0    1900Men
29  29               Final  1900       Men  2.0    1900Men
30  30             Sources  1900       Men  0.0    1900Men
    id          table_name  year men_women  val concat_for
31  31          Background  1904       Men  0.0    1904Men
32  32  Competition format  1904       Men  0.0    1904Men
33  33             Records  1904       Men  0.0    1904Men
34  34             Results  1904       Men  1.0    1904Men
35  35               Heats  1904       Men  1.0    1904Men
36  36              Heat 1  1904       Men  0.0    1904Men
37  37              Heat 2  1904       Men  0.0    1904Men
38  38              Heat 3  1904       Men  0.0    1904Men
39  39               Final  1904       Men  2.0    1904Men
40  40     Results summary  1904       Men  0.0    1904Men
41  41             Sources  1904       Men  0.0    1904Men
    id          table_name  year men_women  val concat_for
42  42          Background  1908       Men  0.0    1908Men
43  43  Competition format  1908       Men  0.0    1908Men
44  44             Records  1908       Men  0.0    1908Men
45  45             Results  1908       Men  1.0    1908Men
46  46               Heats  1908       Men  1.0    1908Men
47  47              Heat 1  1908       Men  0.0    1908Men
48  48              Heat 2  1908       Men  0.0    1908Men
49  49              Heat 3  1908       Men  0.0    1908Men
50  50              Heat 4  1908       Men  0.0    1908Men
51  51              Heat 5  1908       Men  0.0    1908Men
52  52              Heat 6  1908       Men  0.0    1908Men
53  53              Heat 7  1908       Men  0.0    1908Men
54  54              Heat 8  1908       Men  0.0    1908Men
55  55              Heat 9  1908       Men  0.0    1908Men
56  56             Heat 10  1908       Men  0.0    1908Men
57  57             Heat 11  1908       Men  0.0    1908Men
58  58             Heat 12  1908       Men  0.0    1908Men
59  59             Heat 13  1908       Men  0.0    1908Men
60  60             Heat 14  1908       Men  0.0    1908Men
61  61             Heat 15  1908       Men  0.0    1908Men
62  62             Heat 16  1908       Men  0.0    1908Men
63  63             Heat 17  1908       Men  0.0    1908Men
64  64          Semifinals  1908       Men  0.0    1908Men
65  65         Semifinal 1  1908       Men  0.0    1908Men
66  66         Semifinal 2  1908       Men  0.0    1908Men
67  67         Semifinal 3  1908       Men  0.0    1908Men
68  68         Semifinal 4  1908       Men  0.0    1908Men
69  69               Final  1908       Men  2.0    1908Men
70  70          References  1908       Men  0.0    1908Men
      id          table_name  year men_women  val concat_for
71    71          Background  1912       Men  0.0    1912Men
72    72  Competition format  1912       Men  0.0    1912Men
73    73             Records  1912       Men  0.0    1912Men
74    74             Results  1912       Men  1.0    1912Men
75    75               Heats  1912       Men  1.0    1912Men
76    76              Heat 1  1912       Men  0.0    1912Men
77    77              Heat 2  1912       Men  0.0    1912Men
78    78              Heat 3  1912       Men  0.0    1912Men
79    79              Heat 4  1912       Men  0.0    1912Men
80    80              Heat 5  1912       Men  0.0    1912Men
81    81              Heat 6  1912       Men  0.0    1912Men
82    82              Heat 7  1912       Men  0.0    1912Men
83    83              Heat 8  1912       Men  0.0    1912Men
84    84              Heat 9  1912       Men  0.0    1912Men
85    85             Heat 10  1912       Men  0.0    1912Men
86    86             Heat 11  1912       Men  0.0    1912Men
87    87             Heat 12  1912       Men  0.0    1912Men
88    88             Heat 13  1912       Men  0.0    1912Men
89    89             Heat 14  1912       Men  0.0    1912Men
90    90             Heat 15  1912       Men  0.0    1912Men
91    91             Heat 16  1912       Men  0.0    1912Men
92    92             Heat 17  1912       Men  0.0    1912Men
93    93          Semifinals  1912       Men  0.0    1912Men
94    94         Semifinal 1  1912       Men  0.0    1912Men
95    95         Semifinal 2  1912       Men  0.0    1912Men
96    96         Semifinal 3  1912       Men  0.0    1912Men
97    97         Semifinal 4  1912       Men  0.0    1912Men
98    98         Semifinal 5  1912       Men  0.0    1912Men
99    99         Semifinal 6  1912       Men  0.0    1912Men
100  100               Final  1912       Men  2.0    1912Men
101  101          References  1912       Men  0.0    1912Men
102  102      External links  1912       Men  0.0    1912Men
      id          table_name  year men_women  val concat_for
103  103          Background  1920       Men  0.0    1920Men
104  104  Competition format  1920       Men  0.0    1920Men
105  105             Records  1920       Men  0.0    1920Men
106  106            Schedule  1920       Men  0.0    1920Men
107  107             Results  1920       Men  1.0    1920Men
108  108             Round 1  1920       Men  0.0    1920Men
109  109              Heat 1  1920       Men  0.0    1920Men
110  110              Heat 2  1920       Men  0.0    1920Men
111  111              Heat 3  1920       Men  0.0    1920Men
112  112              Heat 4  1920       Men  0.0    1920Men
113  113              Heat 5  1920       Men  0.0    1920Men
114  114              Heat 6  1920       Men  0.0    1920Men
115  115              Heat 7  1920       Men  0.0    1920Men
116  116              Heat 8  1920       Men  0.0    1920Men
117  117              Heat 9  1920       Men  0.0    1920Men
118  118             Heat 10  1920       Men  0.0    1920Men
119  119             Heat 11  1920       Men  0.0    1920Men
120  120             Heat 12  1920       Men  0.0    1920Men
121  121       Quarterfinals  1920       Men  0.0    1920Men
122  122      Quarterfinal 1  1920       Men  0.0    1920Men
123  123      Quarterfinal 2  1920       Men  0.0    1920Men
124  124      Quarterfinal 3  1920       Men  0.0    1920Men
125  125      Quarterfinal 4  1920       Men  0.0    1920Men
126  126      Quarterfinal 5  1920       Men  0.0    1920Men
127  127          Semifinals  1920       Men  0.0    1920Men
128  128         Semifinal 1  1920       Men  0.0    1920Men
129  129         Semifinal 2  1920       Men  0.0    1920Men
130  130               Final  1920       Men  2.0    1920Men
131  131          References  1920       Men  0.0    1920Men
132  132     Further reading  1920       Men  0.0    1920Men
      id          table_name  year men_women  val concat_for
133  133          Background  1924       Men  0.0    1924Men
134  134  Competition format  1924       Men  0.0    1924Men
135  135             Records  1924       Men  0.0    1924Men
136  136             Results  1924       Men  1.0    1924Men
137  137               Heats  1924       Men  1.0    1924Men
138  138              Heat 1  1924       Men  0.0    1924Men
139  139              Heat 2  1924       Men  0.0    1924Men
140  140              Heat 3  1924       Men  0.0    1924Men
141  141              Heat 4  1924       Men  0.0    1924Men
142  142              Heat 5  1924       Men  0.0    1924Men
143  143              Heat 6  1924       Men  0.0    1924Men
144  144              Heat 7  1924       Men  0.0    1924Men
145  145              Heat 8  1924       Men  0.0    1924Men
146  146              Heat 9  1924       Men  0.0    1924Men
147  147             Heat 10  1924       Men  0.0    1924Men
148  148             Heat 11  1924       Men  0.0    1924Men
149  149             Heat 12  1924       Men  0.0    1924Men
150  150             Heat 13  1924       Men  0.0    1924Men
151  151             Heat 14  1924       Men  0.0    1924Men
152  152             Heat 15  1924       Men  0.0    1924Men
153  153             Heat 16  1924       Men  0.0    1924Men
154  154             Heat 17  1924       Men  0.0    1924Men
155  155       Quarterfinals  1924       Men  0.0    1924Men
156  156      Quarterfinal 1  1924       Men  0.0    1924Men
157  157      Quarterfinal 2  1924       Men  0.0    1924Men
158  158      Quarterfinal 3  1924       Men  0.0    1924Men
159  159      Quarterfinal 4  1924       Men  0.0    1924Men
160  160      Quarterfinal 5  1924       Men  0.0    1924Men
161  161      Quarterfinal 6  1924       Men  0.0    1924Men
162  162          Semifinals  1924       Men  0.0    1924Men
163  163         Semifinal 1  1924       Men  0.0    1924Men
164  164         Semifinal 2  1924       Men  0.0    1924Men
165  165               Final  1924       Men  2.0    1924Men
166  166          References  1924       Men  0.0    1924Men
167  167      External links  1924       Men  0.0    1924Men
      id   table_name  year men_women  val concat_for
168  168      Results  1928     Women  1.0  1928Women
169  169        Heats  1928     Women  1.0  1928Women
170  170       Heat 1  1928     Women  0.0  1928Women
171  171       Heat 2  1928     Women  0.0  1928Women
172  172       Heat 3  1928     Women  0.0  1928Women
173  173       Heat 4  1928     Women  0.0  1928Women
174  174       Heat 5  1928     Women  0.0  1928Women
175  175       Heat 6  1928     Women  0.0  1928Women
176  176       Heat 7  1928     Women  0.0  1928Women
177  177       Heat 8  1928     Women  0.0  1928Women
178  178       Heat 9  1928     Women  0.0  1928Women
179  179   Semifinals  1928     Women  0.0  1928Women
180  180  Semifinal 1  1928     Women  0.0  1928Women
181  181  Semifinal 2  1928     Women  0.0  1928Women
182  182  Semifinal 3  1928     Women  0.0  1928Women
183  183        Final  1928     Women  2.0  1928Women
184  184   References  1928     Women  0.0  1928Women
      id          table_name  year men_women  val concat_for
185  185          Background  1928       Men  0.0    1928Men
186  186  Competition format  1928       Men  0.0    1928Men
187  187             Records  1928       Men  0.0    1928Men
188  188             Results  1928       Men  1.0    1928Men
189  189         First Round  1928       Men  0.0    1928Men
190  190              Heat 1  1928       Men  0.0    1928Men
191  191              Heat 2  1928       Men  0.0    1928Men
192  192              Heat 3  1928       Men  0.0    1928Men
193  193              Heat 4  1928       Men  0.0    1928Men
194  194              Heat 5  1928       Men  0.0    1928Men
195  195              Heat 6  1928       Men  0.0    1928Men
196  196              Heat 7  1928       Men  0.0    1928Men
197  197              Heat 8  1928       Men  0.0    1928Men
198  198              Heat 9  1928       Men  0.0    1928Men
199  199             Heat 10  1928       Men  0.0    1928Men
200  200             Heat 11  1928       Men  0.0    1928Men
201  201             Heat 12  1928       Men  0.0    1928Men
202  202             Heat 13  1928       Men  0.0    1928Men
203  203             Heat 14  1928       Men  0.0    1928Men
204  204             Heat 15  1928       Men  0.0    1928Men
205  205             Heat 16  1928       Men  0.0    1928Men
206  206       Quarterfinals  1928       Men  0.0    1928Men
207  207      Quarterfinal 1  1928       Men  0.0    1928Men
208  208      Quarterfinal 2  1928       Men  0.0    1928Men
209  209      Quarterfinal 3  1928       Men  0.0    1928Men
210  210      Quarterfinal 4  1928       Men  0.0    1928Men
211  211      Quarterfinal 5  1928       Men  0.0    1928Men
212  212      Quarterfinal 6  1928       Men  0.0    1928Men
213  213          Semifinals  1928       Men  0.0    1928Men
214  214         Semifinal 1  1928       Men  0.0    1928Men
215  215         Semifinal 2  1928       Men  0.0    1928Men
216  216               Final  1928       Men  2.0    1928Men
217  217          References  1928       Men  0.0    1928Men
218  218      External links  1928       Men  0.0    1928Men
      id   table_name  year men_women  val concat_for
219  219      Results  1932     Women  1.0  1932Women
220  220        Heats  1932     Women  1.0  1932Women
221  221       Heat 1  1932     Women  0.0  1932Women
222  222       Heat 2  1932     Women  0.0  1932Women
223  223       Heat 3  1932     Women  0.0  1932Women
224  224       Heat 4  1932     Women  0.0  1932Women
225  225   Semifinals  1932     Women  0.0  1932Women
226  226  Semifinal 1  1932     Women  0.0  1932Women
227  227  Semifinal 2  1932     Women  0.0  1932Women
228  228        Final  1932     Women  2.0  1932Women
229  229   References  1932     Women  0.0  1932Women
      id          table_name  year men_women  val concat_for
230  230          Background  1932       Men  0.0    1932Men
231  231  Competition format  1932       Men  0.0    1932Men
232  232             Records  1932       Men  0.0    1932Men
233  233             Results  1932       Men  1.0    1932Men
234  234               Heats  1932       Men  1.0    1932Men
235  235              Heat 1  1932       Men  0.0    1932Men
236  236              Heat 2  1932       Men  0.0    1932Men
237  237              Heat 3  1932       Men  0.0    1932Men
238  238              Heat 4  1932       Men  0.0    1932Men
239  239              Heat 5  1932       Men  0.0    1932Men
240  240              Heat 6  1932       Men  0.0    1932Men
241  241              Heat 7  1932       Men  0.0    1932Men
242  242       Quarterfinals  1932       Men  0.0    1932Men
243  243      Quarterfinal 1  1932       Men  0.0    1932Men
244  244      Quarterfinal 2  1932       Men  0.0    1932Men
245  245      Quarterfinal 3  1932       Men  0.0    1932Men
246  246      Quarterfinal 4  1932       Men  0.0    1932Men
247  247          Semifinals  1932       Men  0.0    1932Men
248  248         Semifinal 1  1932       Men  0.0    1932Men
249  249         Semifinal 2  1932       Men  0.0    1932Men
250  250               Final  1932       Men  2.0    1932Men
251  251          References  1932       Men  0.0    1932Men
252  252      External links  1932       Men  0.0    1932Men
      id          table_name  year men_women  val concat_for
253  253          Background  1936       Men  0.0    1936Men
254  254  Competition format  1936       Men  0.0    1936Men
255  255             Records  1936       Men  0.0    1936Men
256  256             Results  1936       Men  1.0    1936Men
257  257               Heats  1936       Men  1.0    1936Men
258  258              Heat 1  1936       Men  0.0    1936Men
259  259              Heat 2  1936       Men  0.0    1936Men
260  260              Heat 3  1936       Men  0.0    1936Men
261  261              Heat 4  1936       Men  0.0    1936Men
262  262              Heat 5  1936       Men  0.0    1936Men
263  263              Heat 6  1936       Men  0.0    1936Men
264  264              Heat 7  1936       Men  0.0    1936Men
265  265              Heat 8  1936       Men  0.0    1936Men
266  266              Heat 9  1936       Men  0.0    1936Men
267  267             Heat 10  1936       Men  0.0    1936Men
268  268             Heat 11  1936       Men  0.0    1936Men
269  269             Heat 12  1936       Men  0.0    1936Men
270  270       Quarterfinals  1936       Men  0.0    1936Men
271  271      Quarterfinal 1  1936       Men  0.0    1936Men
272  272      Quarterfinal 2  1936       Men  0.0    1936Men
273  273      Quarterfinal 3  1936       Men  0.0    1936Men
274  274      Quarterfinal 4  1936       Men  0.0    1936Men
275  275          Semifinals  1936       Men  0.0    1936Men
276  276         Semifinal 1  1936       Men  0.0    1936Men
277  277         Semifinal 2  1936       Men  0.0    1936Men
278  278               Final  1936       Men  2.0    1936Men
279  279          References  1936       Men  0.0    1936Men
      id   table_name  year men_women  val concat_for
280  280      Results  1936     Women  1.0  1936Women
281  281        Heats  1936     Women  1.0  1936Women
282  282       Heat 1  1936     Women  0.0  1936Women
283  283       Heat 2  1936     Women  0.0  1936Women
284  284       Heat 3  1936     Women  0.0  1936Women
285  285       Heat 4  1936     Women  0.0  1936Women
286  286       Heat 5  1936     Women  0.0  1936Women
287  287       Heat 6  1936     Women  0.0  1936Women
288  288   Semifinals  1936     Women  0.0  1936Women
289  289  Semifinal 1  1936     Women  0.0  1936Women
290  290  Semifinal 2  1936     Women  0.0  1936Women
291  291        Final  1936     Women  2.0  1936Women
292  292   References  1936     Women  0.0  1936Women
      id      table_name  year men_women  val concat_for
293  293         Records  1948     Women  0.0  1948Women
294  294        Schedule  1948     Women  0.0  1948Women
295  295         Results  1948     Women  1.0  1948Women
296  296         Round 1  1948     Women  0.0  1948Women
297  297          Heat 1  1948     Women  0.0  1948Women
298  298          Heat 2  1948     Women  0.0  1948Women
299  299          Heat 3  1948     Women  0.0  1948Women
300  300          Heat 4  1948     Women  0.0  1948Women
301  301          Heat 5  1948     Women  0.0  1948Women
302  302          Heat 6  1948     Women  0.0  1948Women
303  303          Heat 7  1948     Women  0.0  1948Women
304  304          Heat 8  1948     Women  0.0  1948Women
305  305          Heat 9  1948     Women  0.0  1948Women
306  306      Semifinals  1948     Women  0.0  1948Women
307  307     Semifinal 1  1948     Women  0.0  1948Women
308  308     Semifinal 2  1948     Women  0.0  1948Women
309  309     Semifinal 3  1948     Women  0.0  1948Women
310  310           Final  1948     Women  2.0  1948Women
311  311      References  1948     Women  0.0  1948Women
312  312  External links  1948     Women  0.0  1948Women
      id          table_name  year men_women  val concat_for
313  313          Background  1948       Men  0.0    1948Men
314  314  Competition format  1948       Men  0.0    1948Men
315  315             Records  1948       Men  0.0    1948Men
316  316            Schedule  1948       Men  0.0    1948Men
317  317             Results  1948       Men  1.0    1948Men
318  318             Round 1  1948       Men  0.0    1948Men
319  319              Heat 1  1948       Men  0.0    1948Men
320  320              Heat 2  1948       Men  0.0    1948Men

"\ntable_scope.to_csv('/content/drive/My Drive/headers_final.csv')\ntable_titles_final2.to_csv('/content/drive/My Drive/table_titles.csv')\n"

# **PANDAS HTML**

In [11]:
olympic_games = df_athletics2.query('event == "100 metres"')
olympic_games

sleep_min = 1
sleep_max = 3
start_time = time.time()

table_data  = []

for olympics in olympic_games.itertuples():
    
    url0 = getattr(olympics, 'url') 
    url  = 'https://en.wikipedia.org/'+url0
    #print(url)
    
    year = getattr(olympics, 'year')
    #print(year)
    
    men_women = getattr(olympics, 'men_women')    
    event = getattr(olympics, 'event')

    page = urllib.request.urlopen(url)
    soup = BeautifulSoup(page, "html.parser")

    time.sleep(np.random.uniform(sleep_min, sleep_max))
                 
    table_MN = pd.read_html(url, match='Rank', attrs={'class': 'wikitable sortable'})
    #print(  len(table_MN), range(len(table_MN)), range(table_MN)  )
    for i in range(len(table_MN)):
        #print(i)
        #print(table_MN[i])

        for j in table_MN[i]:
          table_MN[i]['idx'] = i+1
          table_MN[i]['year'] = year
          table_MN[i]['men_women'] = men_women
          table_MN[i]['event'] = event

        table_data.append(table_MN[i])

df_extract = pd.concat(table_data)
df_extract       

print(len(df_extract))

base_final_trat0 = pd.merge(df_extract, append_final, left_on=['idx', 'year', 'men_women'], right_on=['idx', 'year', 'men_women'], how='inner', indicator=True)
base_final_trat0

# QUANDO FILTRAMOS A TABLE SCOPE PARA CONTER SOMENTE AS COLUNAS YEAR, MEN_WOMEN E TABLE_NAME, TIRANDO OS DUPLICADOS, CHEGAMOS NUMA TABELA QUE PODE SER 
# UTILIZADA COMO FILTRO PARA EVITAR QUE DETERMINADAS TABELAS GEREM LINHAS EM BRANCO. POR EXEMPLO, 1896 E 1904 A TABELA DE RESULTS SUMMARY APARECE COMO IDX5,
# MAS NÃO DEVERIA ESTAR ALI. COMO NA BASE_FINAL_TRAT 1 JÁ TEMOS O TABLE_NAME, SE FAZEMOS UM INNER JOIN "FILTRAMOS" SOMENTE AS ETAPAS (TABELAS) VÁLIDAS
# PARA CADA UMA DESSAS COMPETIÇÕES

#filtrando as colunas 
table_scope_filter = table_scope[['year','men_women','table_name']].drop_duplicates()
table_scope_filter

base_final_trat1 = base_final_trat0[['year'	,'men_women','table_name', 'Rank',	'Athlete'	,'Nation',	'Time',	'Notes'	,'idx'	,	'event']]

print(len(base_final_trat1))
print(len(table_scope_filter))
base_final_trat2 = pd.merge(base_final_trat1, table_scope_filter, left_on=['table_name', 'year', 'men_women'], right_on=['table_name', 'year', 'men_women'], how='inner', indicator=True)
base_final_trat2
print(len(base_final_trat2))

# FINAL TABLE:

base_final_trat2 = base_final_trat2.drop(['_merge'], axis=1)
base_right = pd.merge(base_final_trat2, df_extract, left_on=['idx', 'year', 'men_women'], right_on=['idx', 'year', 'men_women'], how='outer', indicator=True).query('_merge == "right_only"')
base_right.head(5)

5802
5624
782
5624

,year,men_women,table_name,Rank_x,Athlete_x,Nation_x,Time_x,Notes_x,idx,event_x,Rank_y,Athlete_y,Nation_y,Time_y,Notes_y,event_y,Semifinals,Final,Heats,Lane,Time (hand),Country,Time (automatic),Time (h),Time (a),Unnamed: 5,Heat,Reaction,Place,Qual.,Record,Unnamed: 7,Unnamed: 6,_merge
52482,1896,Men,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,Thomas Burke,United States,NaN,OR,100 metres,11.8,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,right_only
52483,1896,Men,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,Fritz Hofmann,Germany,NaN,NaN,100 metres,12.6,12.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,right_only
52484,1896,Men,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,Francis Lane,United States,NaN,NaN,100 metres,12.2,12.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,right_only
52485,1896,Men,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,Alajos Szokolyi,Hungary,NaN,NaN,100 metres,12.8,12.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,right_only
52486,1896,Men,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,5,Alexandros Chalkokondylis,Greece,NaN,NaN,100 metres,12.8,12.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,right_only